/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [Patient_Id]
      ,[Name]
      ,[Age]
      ,[Address]
      ,[Email]
      ,[Contact]
      ,[Treatment]
      ,[Schedule_Date]
      ,[Schedule_Time]
      ,[Status]
  FROM [Dental].[dbo].[Appointment]